<%- include('partials/header') -%>

<section>
    <div
      class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8 mt-10 mb-16"
    >
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
        <div
          class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full"
        >
          <img
            alt="Party"
            src="/imgs/about1.png"
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
  
        <div class="px-6 md:px-10 lg:py-24">
            <h1 class="title-font text-4xl lg:text-6xl mb-10 mt-6 font-medium text-white uppercase text-center">About</h1>
  
          <p class="mt-6 text-gray-300 text-justify ">
            The "Scream" movie series, created by horror master Wes Craven, has become a staple in the genre since its first release in 1996. The franchise consists of four movies, all following the story of high school student Sidney Prescott and her friends as they are terrorized by a masked killer known as Ghostface.
          </p>

          <p class="mt-6 text-gray-300 text-justify">
            What sets the "Scream" series apart from other horror movies is its clever self-awareness and deconstruction of horror movie tropes. The characters are all horror fans themselves, and are well-versed in the "rules" of surviving a horror movie. This meta-commentary, along with the iconic Ghostface mask and sharp humor, has made the "Scream" series a fan favorite.
          </p>

          <p class="mt-6 text-gray-300 text-justify">
            Despite its humor, the "Scream" series does not skimp on the scares. The tension is high and the kills are creative, making for a truly frightening experience. In addition to the movies, the "Scream" franchise has also inspired a TV series, which premiered in 2015.
          </p>

          <p class="mt-6 text-gray-300 text-justify">
            Overall, the "Scream" movie series is a must-watch for horror fans. Its mix of humor and terror, along with its self-awareness and iconic characters, have cemented it as a classic in the genre.
          </p>
  
          <div class="flex items-center justify-center text-center">
              <a
                href="https://www.youtube.com/watch?v=h74AXqw4Opc"
                class="mt-16 block rounded bg-rose-700 px-12 py-3 text-sm font-medium text-white transition hover:bg-rose-600 focus:outline-none focus:ring focus:ring-yellow-400"
              >
                Scream 6 Premieres March 10th
              </a>
          </div >
        </div>
      </div>
    </div>
  </section>
  

<%- include('partials/footer') -%>