<%- include('partials/header') -%>

<!-- <main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main> -->

<!--
  This component uses @tailwindcss/forms

  yarn add @tailwindcss/forms
  npm install @tailwindcss/forms

  plugins: [require('@tailwindcss/forms')]
-->

<section class="text-gray-400 bg-zinc-900 body-font">
  <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center mt-10">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 object-cover object-center rounded" alt="hero" src="/imgs/heroimage.png">
    <div class="w-full lg:w-2/3 flex flex-col mb-16 items-center text-center">
      <h1 class="title-font sm:text-5xl text-4xl mb-4 mt-6 font-medium text-white uppercase">What's your favorite <span class="italic">scary</span > movie?</h1>
      <form action="/movie/addFave?_method=PUT" method="POST" class="sm:flex w-full justify-center items-end" id="movieForm">
        <div class="relative sm:mr-4 lg:w-full xl:w-1/2 md:w-full text-left">
          <label for="movieTitle" class="leading-7 text-sm text-gray-400">Answer</label>
          <input type="text" id="movieTitle" name="movieTitle" class="w-full bg-zinc-800 rounded border bg-opacity-40 border-gray-700 focus:ring-2 focus:ring-rose-900 focus:bg-transparent focus:border-rose-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <button class="w-full sm:max-w-fit text-white bg-rose-700 border-0 py-2.5 px-6 focus:outline-none hover:bg-rose-600 rounded text-sm uppercase tracking-wide active:bg-rose-700 mt-2 sm:mt-0 ">Submit</button>
      </form>
      <p class="text-sm mt-8 text-gray-500 mb-8 w-full">Answer like your life depends on it.</p>
      
    </div>
  </div>
</section>
  

    

<%- include('partials/footer') -%>