<%- include('partials/header') -%>

<section class="text-gray-400 bg-zinc-900 body-font">
    <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center mt-10">
        <h1 class="title-font text-6xl md:text-8xl mb-4 mt-6 font-medium text-white uppercase">Wrong</h1>
        <h2 class="title-font text-3xl md:text-5xl mt-6 mb-16 font-medium text-white uppercase">You're 
          <a class="italic underline underline-offset-8 hover:text-rose-700" href="https://www.youtube.com/watch?v=a3AEBwk781U">
            <span class="sr-only">Link to Youtube Video</span>
            Dead
          <a>
          
        </h1>

            <div class="text-center mt-10"><a href="/" class="text-[10px] md:text-sm text-gray-500 mb-0 w-full hover:text-gray-400">Choose correctly this time.</a></div >

      <img class="w-full lg:w-2/3 max-w-3xl object-cover object-center rounded" alt="hero" src="/imgs/WRONG.png">

        
        
        
      </div>
    </div>
  </section>
    


  

<%- include('partials/footer') -%>